#table-wrapper {
    position: relative;
    padding-top: 50px;
}
#table-scroll {
    height: 150px;
    overflow: auto;
}
#table-wrapper table {
    width: 100%;
}
#table-wrapper table * {
    background: rgb(#1f1f1f);
    color: rgb(255, 255, 255);
}
#table-wrapper table thead th .text_id {
    position: absolute;
    text-align: center;
    top: 0px;
    left: 0%;
    z-index: 2;
    width: 7%;
    height: 50px;
    border: 1.5px solid #9b9d9e;
}
#table-wrapper table thead th .text_name {
    position: absolute;
    text-align: center;
    top: 0px;
    left: 7%;
    z-index: 2;
    width: 30%;
    height: 50px;
    border: 1.5px solid #9b9d9e;
}

#table-wrapper table thead th .text_course {
    position: absolute;
    text-align: center;
    top: 0px;
    left: 37%;
    z-index: 2;
    width: 30%;
    height: 50px;
    border: 1.5px solid #9b9d9e;
}

#table-wrapper table thead th .text_ira {
    position: absolute;
    text-align: center;
    z-index: 2;
    top: 0px;
    left: 67%;
    width: 5%;
    height: 50px;
    border: 1.5px solid #9b9d9e;
}

#table-wrapper table thead th .text_action {
    position: absolute;
    text-align: center;
    top: 0px;
    z-index: 2;
    left: 72%;
    width: 28%;
    height: 50px;
    border: 1.5px solid #9b9d9e;
}

#table-wrapper table thead th .row_id {
    position: relative;
    text-align: center;
    left: 0%;
    width: 7%;
    height: 50px;
    border: 1.5px solid #9b9d9e;
}
#table-wrapper table thead th .row_name {
    text-align: center;
    left: 7%;
    width: 30%;
    height: 50px;
    border: 1.5px solid #9b9d9e;
}

#table-wrapper table thead th .row_course {
    text-align: center;
    left: 37%;
    width: 30%;
    height: 50px;
    border: 1.5px solid #9b9d9e;
}

#table-wrapper table thead th .row_ira {
    text-align: center;
    left: 67%;
    width: 5%;
    height: 50px;
    border: 2px solid #9b9d9e;
}

#table-wrapper table thead th .row_action {
    text-align: center;
    left: 72%;
    width: 28%;
    height: 50px;
    border: 1.5px solid #9b9d9e;
}

* {
    scrollbar-width: 10px;
    scrollbar-color: #212529 #e4e9e4;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #212529;
}

*::-webkit-scrollbar-thumb {
    background-color: #e4e9e4;
    border-radius: 10cpx;
}
